.wrapper{
    display: flex;
    height: 100%;
}


// .sidenav {
//     width: 250px;
//     height: 100%;
//     background-color: #ffffff;
// }

.main {
    flex-grow: 1;
    background-color: #f7f8fa;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    overflow: auto;
}
   

.sidenav {
    flex:0 0 250px;
    height: 100%;
    background-color: #ffffff;
    border:1px solid #e6e6e6;
}

// .main {
//     flex-grow: 1;
//     overflow: auto;   

//}