/* .main{
    display: flex;
    justify-content: center;
} */
.wrapper{
    display: flex;
    /* align-items: center; */
    height: 100%;
}

.sidenav {
    width: 300px;
    height: 100%;
    background-color: #293241;
}

.main {
    flex-grow: 1;
    background-color: #e9edc9;
    align-items: center;
    justify-content: center;
}