<Section
        style="width: 700px; margin: 20px auto; padding: 30px; border-top: solid black; border-bottom: solid black; background-color: #f5f5f5;">
        <table style="width: 100%;  border-collapse: collapse;">
            <tr style="border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                <td>
                    <h1 style="margin-block-end: 0; margin-right: 200px;">{{resumedata.name}}</h1>
                    <P style="margin-inline-end: 1px; margin-block-start: 1px;">{{resumedata.designation}}</P>
                </td>
                <td>
                    <button>Download PDF</button>
                    <p style="color: red; margin-block-end: 1px; margin-block-start: 1px;">name@yourdomain.com</p>
                    <p style="margin-block-end: 1px; margin-block-start: 1px;">(313)-867-5309</p>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                <td style="width: 15%;">Profile</td>
                <td style="padding: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus
                    veniam maiores, amet asperiores quod officiis officia aperiam maxime iusto, atque quae, quam alias
                    beatae nihil cumque harum rem consequatur!</td>
            </tr>
        </table>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                <td style="width: 15%;">Skills</td>
                <td>
                <th style="text-align: left; padding: 20px;">Web Design
                    <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id nemo
                        reprehenderit error ipsum
                        pariatur hic libero sint sit iusto, voluptatum asperiores.</p>
                </th>

            
                <td>
                <th style="text-align: left;">Interface Design
                    <p style="text-align: left;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Exercitationem fuga modi repudiandae
                        vero est voluptates </p>
                </th>
                
                <td>
                <th style="text-align: left;">Projection Design
                    <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                        excepturi quas quo quidem illum
                        quaerat.</p>
                </th>
                
            </tr>
        </table>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                <td style="width: 15%;">Technical</td>
                <td style="padding: 20px;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse; ">
                            <td style="width: 33.33%;">XHTML</td>
                            <td style="width: 33.33%;">Jquery</td>
                            <td style="width: 33.33%;">OS-X</td>
                        </tr>
                        <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                            <td>CSS</td>
                            <td>PHP</td>
                            <td>Windows XP/Vista</td>
                        </tr>
                        <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                            <td>JavaScript</td>
                            <td>PHP</td>
                            <td>Windows XP/Vista</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <td style="width: 17%;">Experience</td>
                <td style="padding: 20px 0px;">
                    <table table style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <th style="text-align: left;">Facebook
                            <td>2005-2007</td>
                            
                        <tr>
                            <td>Senior Interface Designer</td>
                        </tr>
                        <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                            <td style="padding-top: 20px; padding-bottom: 20px;">Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Dolor, voluptas?</td>

                        </tr>

            

            <tr>

                <th style="text-align: left; padding-top: 20px;">Apple Inc.
                <td>2005-2007</td>
                
            <tr>
                <td>Senior Interface Designer</td>
            </tr>
            <tr style=" width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
                <td style="padding: 20px 0px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor,
                    voluptas?</td>

            </tr>

            
        </table>
        </td>
        </tr>
        </table>
        <table style="width: 100%; border-bottom: 1px solid #d1d1d1; border-collapse: collapse;">
            <tr>
                <td style="width: 45%;">Education</td>
                <td>
                <td style="text-align: left;">Indiana Univercity
                    <p>Dual-Major-4.0 GPA
                    </p>
                </td>

                

            </tr>
        </table>
        <p style="text-align: center;">
            <span>Johnathan Doe-</span>
            <a href="#" style="color: red;">name@yourdomain.com</a>
            <span>-(313)-867-5309</span>
        </p>



    </Section>
