
    <form class="form-content" [formGroup]="userForm">
    <!-- <form class="form-content" [formGroup]="userForm" (ngSubmit)="saveUserData()"> -->
      <fieldset class="form-area">
        <div class="input-field">
          <label for="first-name" class="form-label w-25 me-3">First Name:</label>
          <div>
            <input
              class="form-input"
              type="text"
              formControlName="firstname"
              id="firstname"
              placeholder="First Name"
            />
            <div
              class="error"
              *ngIf="
                getvalue['firstname'].dirty ||
                (getvalue['firstname'].touched && getvalue['firstname'].invalid)
              "
            >
              <div
                *ngIf="
                  getvalue['firstname'].errors &&
                  getvalue['firstname'].errors['required']
                "
              >
                Firstname Required
              </div>
            </div>
          </div>
        </div>
        <div class="input-field">
          <label for="last-name">Last Name:</label>
          <div>
            <input
              class="form-input"
              formControlName="lastname"
              type="text"
              id="lastname"
              placeholder="last Name"
            />
            <div
              class="error"
              *ngIf="
                getvalue['lastname'].dirty ||
                (getvalue['lastname'].touched && getvalue['lastname'].invalid)
              "
            >
              <div
                *ngIf="
                  getvalue['lastname'].errors &&
                  getvalue['lastname'].errors['required']
                "
              >
                Lastname Required
              </div>
            </div>
          </div>
        </div>
        <div class="input-field">
          <label for="number" class="form-label w-25 me-3">E-Mail:</label>
          <div>
            <input
              class="form-input"
              formControlName="email"
              type="email"
              id="email"
              placeholder="sushil@gmail.com"
            />
            <div
              class="error"
              *ngIf="
                getvalue['email'].dirty ||
                (getvalue['email'].touched && getvalue['email'].invalid)
              "
            >
              <div
                *ngIf="
                  getvalue['email'].errors && getvalue['email'].errors['required']
                "
              >
                email Required
              </div>
            </div>
          </div>
        </div>
        <div class="input-field">
          <label for="M.no" class="form-label w-25 me-3">Mobile No:</label>
          <div>
            <input
              type="text"
              formControlName="number"
              class="form-control form-input"
              id="number"
            />
            <div
              class="error"
              *ngIf="
                getvalue['number'].dirty ||
                (getvalue['number'].touched && getvalue['number'].invalid)
              "
            >
              <div
                *ngIf="
                  getvalue['number'].errors &&
                  getvalue['number'].errors['required']
                "
              >
                number Required
              </div>
            </div>
          </div>
        </div>
        <div class="input-field">
          <label for="Gender">Gender:</label>
  
          <div class="input-gender">
            <input formControlName="gender" type="radio" id="Male" value="Male" />
            <label for="male">Male</label>
  
            <input
              formControlName="gender"
              type="radio"
              id="Female"
              value="Female"
            />
            <label for="female">Female</label>
          </div>
        </div>
        <div class="input-field">
          <label for="Date-of-Employment" class="form-label w-25 me-3"
            >Date-of-Employment:</label
          >
          <div>
            <input
              class="form-input"
              type="date"
              formControlName="date"
              class="form-control"
              id="date"
            />
          </div>
        </div>
        <div class="input-field">
          <label for="Department">Department</label>
          <div>
            <select formControlName="departments" id="department">
              <option value="0">select</option>
              <option
                *ngFor="let department of userdept; let i = index"
                [value]="i"
              >
                {{ department.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button class="btn-clear" (click)="onClose()">cancel</button>
          <button class="btn-add" type="submit" [disabled]="userForm.invalid" (click)="saveUserData()">
            submit
          </button>
          <button class="btn-clear" type="button" (click)="resetForm()">
            Reset
          </button>
        </div>
        <!-- {{userdept | json}} -->
      </fieldset>
    </form>
  
  
