<aside class="section-sidebar">
  <h1>Angular Tasks</h1>

  <ul class="side-bar">
    <li>
      <a routerLink="databinding">Data-Binding</a>
    </li>
    <li>
      <a routerLink="user">Form</a>
    </li>

    <li>
      <a routerLink="resume">Resume Builder</a>
    </li>

    <li>
      <a routerLink="users">Assesment</a>
    </li>
  </ul>
</aside>
<!-- 
<div class="wrapper">
  <input type="checkbox" id="checkbox">
  <aside>
    <h1>Angular Tasks</h1>
    <ul>
      <li>
        
        <a routerLink="databinding"><span class="icon-address-book"></span>Data Binding</a>
      </li>
      <li>
        
        <a routerLink="user"><span class="icon-address-book"></span>Form</a>
      </li>
      <li>
        
        <a routerLink="resume"><span class="icon-address-book"></span>Resume Builder</a>
      </li>
      <li>
        
        <a routerLink="users"><span class="icon-address-book"></span>Assesment-1</a>
      </li>
    </ul>
  </aside>
  <label for="checkbox"><i class='bx bx-menu-alt-left'></i></label>
</div> -->