<input type="checkbox" id="checkbox" />
<label for="checkbox"><i class="icon-menu btn"></i></label>
<div class="wrapper">
  <aside>
    <h1>Angular Tasks</h1>

    <ul>
      <li>
        <a routerLink="databinding"><i class="icon-copy"></i><span>Data-Binding</span></a
        >
      </li>
      <li>
        <a routerLink="user"><i class="icon-paste"></i><span>Form</span></a>
      </li>

      <li>
        <a routerLink="resume"
          ><i class="icon-file-text2"></i><span>Resume Builder</span></a
        >
      </li>

      <li>
        <a routerLink="users"
          ><i class="icon-copy"></i><span>Assesment</span></a
        >
      </li>
      <li>
        <a routerLink="myform">
          <span>myform</span>
        </a>
      </li>
    </ul>
  </aside>
 </div>
