<div class="container">
  <div class="wrapper">
    <!-- interpolation -->
    <div>
      <p>Interpolation</p>
      <p>Hello {{ dname }} this side</p>
    </div>

    <!-- property binding -->
    <div>
      <p>Property Binding</p>
      <input type="text" name="" id="" [value]="dname" />
    </div>

    <!-- event binding -->
    <div>
      <p>Event Binding</p>
      <button class="button" (click)="onBuy()">PURCHASE</button>
      <p>{{ msg }}</p>
    </div>
    <!-- Two way binding -->
    <div>
      <p>
        Two way Binding

        <input type="text" [(ngModel)]="fname" /> <br />
      </p>

      <p>{{ fname }}</p>
    </div>
  </div>
</div>

