<div class="container">
    <button class="btn-clear" (click)="displayOverlay(0)">add</button>
    {{userSearch}}
    <div class="wrapper">
        <div class="list-header">
            <h1>User List</h1>
          </div>
    <div class="table-list">
        <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Mobile.no</th>
                <th>Gender</th>
                <!-- <th>Joining Date</th> -->
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of userdata">
                <!-- <pre>{{item | json}}</pre> -->
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.number}}</td>
                <td>{{item.gender}}</td>
                <!-- <td>{{item.}}</td> -->
                <td>{{item.departments | depart:departmentlists}}</td>
                <td>
                    <button class="edit" type="button" (click)="displayOverlay(item.id)">Edit</button>
                    <button class="delete" type="button" (click)="deleteuser(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    </div>
</div>