<div class="container">
  <div class="list-header">
    <h1>Users List</h1>
  </div>
  <div class="list-search">
    <button (click)="oncreate()">+create</button>
    <input type="text" placeholder="search by name" [(ngModel)]="searchtext" />
    <input type="text" placeholder="search by city" />
    <input
      type="text"
      placeholder="search by department"
      [(ngModel)]="departmentsearch"
    />
  </div>

<!-- users-list start -->
<div class="section-list">
  <table id="table1">
    <thead>
      <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Department</th>
        <th>City</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usersdata | searchByName :searchtext">
        <td>{{ item.name}}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.department |depart:departmentlists}}</td>
        <td>{{ item.city }}</td>
        <td>
          <button class="edit" type="button" (click)="editusers(item.id)">
            Edit
          </button>

            <button class="delete" type="button" (click)="deleteusers(item.id)">
              Delete
            </button>

            <button class="detail" type="button">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- users-list end -->

  <div class="address-list">
    <h2>Add Address</h2>

    <div [formGroup]="usersform">
      <div
        formArrayName="items"
        *ngFor="let item of getArray['controls']; let i = index"
      >
        <div [formGroupName]="i">
          <div>
            <input class="address-field" formControlName="address" />
            <button class="btn-delete" (click)="deleteaddress(i)">
              delete
            </button>
          </div>
        </div>
      </div>
      <button class="btn-add" (click)="addaddress()">Add</button>
    </div>
  </div>
</div>

<!-- address-section  end -->
