.container {
    width: 100%;
    margin: auto;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    height: 300px;
    background-color: #ebe6e6;
}
.list-header {
    font-size: 30px;
    
}
.list-header h1 {
    font-weight: 100;
    text-align: center;
}
.edit {
    background-color: #6c757d;
}
.delete  {
    background-color: #dc3545;
}
.detail {
    background-color: #0dcaf0;
    color: black;
}

.section-list {
    display: flex;
    justify-content: center;
    padding-bottom:4rem;
    
}


.list-search {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 2rem 0;
}
.list-search button {
    padding: 0.5rem 1.5rem;
    background-color: #0d6efd;
    border: transparent;
    border-radius: 4px;
    color: white;    
}
/* table,thead , tr {
    border: 1px solid black;
} */
td {
    text-align: center;
}
thead tr {
    background-color: white;
    border: 1px solid black;
}
th {
    padding: 10px 0;
}

button{
    padding: 10px;
    color: white;
    border: transparent;
    border-radius: 10%;
    margin: 0 5px;
}
.address-list {
    display: flex;
    /* justify-content: center; */
    border: 1px solid black;
    width: 70%;
    align-items: center;
    margin: auto;
    padding: 4rem 0rem;
}

.btn-delete{
    background-color: red;
}

.btn-add {
    background-color: #a0a6ab
}
.address-field {
    width: 389px;
    padding: 8px;
    margin-left: 35px;
}
